.options {
    width: 100%;
}

.options div {
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
}

.options div.last {
    border: 0;
}

.options div label span {
    display: block;
    width: 80%;
    float: left;
    padding-right: 10px;
}

.options div label input {
    float: left;
    text-align: center;
}

.options div label input[type="number"],
.options div label input[type="text"] {
    width: 50px;
}

.options div label input.short {
    width: 25px;
    text-align: center;
    margin: 0 5px 0 0;
}

.options div > span {
    display: block;
    clear: both;
    width: 80%;
    font-size: 0.9em;
    color: gray;
}

.options .secondInput {
    margin-left: 80%;
    margin-bottom: 12px;
}

.options .secondInput.last {
    margin-bottom: 0;
}
